.homePage {
  display: flex;
  width: 100%;
}

.productList {
  flex: 4;
}

.asideBar {
  flex: 1;
  text-align: left;
}

ul {
  list-style: none;
  padding: 0;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.productCard {
  border: #282c34 solid 1px;
  border-radius: 20px;
  color: #282c34;
  height: 300px;
  text-decoration: none;
  width: 300px;
}

.productCard:hover {
  cursor: pointer;
}
