.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.homePage {
  display: flex;
  width: 100%;
}

.productList {
  flex: 4;
}

.asideBar {
  flex: 1;
  text-align: left;
}

ul {
  list-style: none;
  padding: 0;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.productCard {
  border: #282c34 solid 1px;
  border-radius: 20px;
  color: #282c34;
  height: 300px;
  text-decoration: none;
  width: 300px;
}

.productCard:hover {
  cursor: pointer;
}
